# Timing Constraints
# NET "clk" TNM_NET = "TNM_PCLK";
# TIMESPEC "TS_PCLK" = PERIOD "TNM_PCLK" 100 MHz HIGH 50 % PRIORITY 0 ;

# NET "clk2" TNM_NET = "TNM_PCLKX2";
# TIMESPEC "TS_PCLKX2" = PERIOD "TNM_PCLKX2" TS_PCLK * 2;

# NET "clk10" TNM_NET = "TNM_PCLKX10";
# TIMESPEC "TS_PCLKX10" = PERIOD "TNM_PCLKX10" TS_PCLK * 10;

# CONFIG PART = xc6slx45-3-csg324;
CONFIG VCCAUX = 3.3;

# RESET & CLOCK
NET "RESET" LOC = "N4";
NET "CLOCK_100M" LOC = "L15" | IOSTANDARD = LVCMOS33 | PERIOD = 100 MHz;
PIN "px_clk_dcm/clkout1_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;
# INST "ioclk_buf"     LOC = "BUFPLL_X1Y0";

# SW
NET "SW" LOC = "A10" | IOSTANDARD = LVCMOS33;

# LED
NET "LED<0>" LOC = "U18" | IOSTANDARD = LVCMOS33;
NET "LED<1>" LOC = "M14" | IOSTANDARD = LVCMOS33;
NET "LED<2>" LOC = "N14" | IOSTANDARD = LVCMOS33;
NET "LED<3>" LOC = "L14" | IOSTANDARD = LVCMOS33;

# HDMI
NET "TX0_TMDS<0>"  LOC = "D8" | IOSTANDARD = TMDS_33; # Blue
NET "TX0_TMDSB<0>" LOC = "C8" | IOSTANDARD = TMDS_33;
NET "TX0_TMDS<1>"  LOC = "C7" | IOSTANDARD = TMDS_33; # Green
NET "TX0_TMDSB<1>" LOC = "A7" | IOSTANDARD = TMDS_33;
NET "TX0_TMDS<2>"  LOC = "B8" | IOSTANDARD = TMDS_33; # Red
NET "TX0_TMDSB<2>" LOC = "A8" | IOSTANDARD = TMDS_33;
NET "TX0_TMDS<3>"  LOC = "B6" | IOSTANDARD = TMDS_33; # Clock
NET "TX0_TMDSB<3>" LOC = "A6" | IOSTANDARD = TMDS_33;
