//! **************************************************************************
// Written by: Map P.20131013 on Mon May 11 20:16:42 2015
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "SW" LOCATE = SITE "A10" LEVEL 1;
COMP "TX0_TMDSB<0>" LOCATE = SITE "C8" LEVEL 1;
COMP "TX0_TMDSB<1>" LOCATE = SITE "A7" LEVEL 1;
COMP "TX0_TMDSB<2>" LOCATE = SITE "A8" LEVEL 1;
COMP "TX0_TMDSB<3>" LOCATE = SITE "A6" LEVEL 1;
COMP "RESET" LOCATE = SITE "N4" LEVEL 1;
COMP "CLOCK_100M" LOCATE = SITE "L15" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "U18" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "M14" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "N14" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "L14" LEVEL 1;
COMP "TX0_TMDS<0>" LOCATE = SITE "D8" LEVEL 1;
COMP "TX0_TMDS<1>" LOCATE = SITE "C7" LEVEL 1;
COMP "TX0_TMDS<2>" LOCATE = SITE "B8" LEVEL 1;
COMP "TX0_TMDS<3>" LOCATE = SITE "B6" LEVEL 1;
PIN px_clk_dcm/clkout1_buf_pin<1> = BEL "px_clk_dcm/clkout1_buf" PINNAME O;
PIN "px_clk_dcm/clkout1_buf_pin<1>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "px_clk_dcm/clkin1" PERIOD = 10 ns HIGH 50%;
SCHEMATIC END;

